body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.price{
  font-size:15vmin;
  text-align: center;
}
.up{
  color: forestgreen;
}
.down{
  color:red;
}

.my-custom-button {
  background-color: #0096FF;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px 28px;
  display: flex;
  justify-content: flex-end;
  /*box-shadow: 1px 3px gray;*/
}

.my-custom-button:hover{
  background-color: palevioletred;
  color: white;
}
